body {
	margin: 0;
	padding: 0;
	font: normal 14px/normal "Trebuchet MS";
}

h2 {
	font: bolder 14px "Trebuchet MS";
	color: #000;
	margin: 0px;
	padding: 0px 0px 0px 15px;
}

li {
	font-family: "Trebuchet MS";
	color: #000;
}

li a {
	font-family: "Trebuchet MS";
	font-size: 14px;
	text-decoration: none;
}

#top_banner {
	width: 100%;
	line-height: normal;
	position: relative;
	height: 60px;
	width: 760px;
	text-decoration: none;
; background-image: url("../images/home_topbanner_sm.jpg"); background-repeat: no-repeat; background-position: top left
; clip:  rect(   )
}

#top_banner div p a {
	text-decoration: none;
}

#tabsJ {
	float: left;
	width: 100%;
	background: #00529b;
	font-size: 93%;
	line-height: normal;
	border-bottom: 4px solid #bed9ec;
	width: 760px;
}

#tabsJ ul {
	margin: 0;
	padding: 10px 10px 0 50px;
	list-style: none;
}

#tabsJ li {
	display: inline;
	margin: 0;
	padding: 0;
}

#tabsJ a {
	float: left;
	background: url("/cov6/images/menuleft.gif") no-repeat left top;
	margin: 0;
	padding: 0px 0px 0px 5px;
	text-decoration: none;
}

#tabsJ a span {
	float: left;
	display: block;
	background: url("/cov6/images/menuright.gif") no-repeat right top;
	padding: 15px 15px 4px 9px;
	color: #ffffff;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabsJ a span {
	float: none;
}

/* End IE5-Mac hack */
#tabsJ a:hover span {
	color: #00529b;
}

#tabsJ a:hover {
	background-position: 0% -42px;
}

#tabsJ a:hover span {
	background-position: 100% -42px;
}

p {
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-style: normal;
	color: #333333;
	padding-left: 10px;
	padding-right: 15px;
}

h1 {
	font-family: "Trebuchet MS";
	font-size: 16px;
	font-weight: bolder;
	text-transform: uppercase;
	color: #333333;
	padding-left: 10px;
}

h2 {
	color: #333333;
	padding-left: 10px;
}

pre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	padding-right: 10px;
}

link {
	font-family: "Trebuchet MS";
	font-size: 14px;
	font-weight: bolder;
	color: #055193;
	text-decoration: none;
}

#header {
	position: relative;
}

#menu {
	height: 40px;
	position: relative;
	width: 760px;
}

menu.blue-bar {
	width: 760px;
}

#content {
	margin: auto;
	padding: 10px 10px 10px 10px;
	width: 760px;
	min-height: 150px;
	clear: both;
	float: left;
	position: relative;
}

#content form {
	min-width: 500px;
	max-width: 700px;;
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #333333
}

#content form br {
	clear: left;
}

#content form label {
	display: block;
	float: left;
	width: 130px; padding 0;
	margin: 2px 0 0;
	text-align: right;
	padding-right: 5px;
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #00529b;
}

#content form fieldset {
	border-color: #000;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	margin: 0;
	color: #00529b;
}

#content form input,textarea,select {
	width: auto;
	margin-bottom: 10px;
}

#content form fieldset div#left {
	float: left;
	width: 300px;
}

#content form fieldset div#right {
	float: right;
	width: 300px;
}

#footer {
	clear: both;
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-style: normal;
	color: #333333;
	padding-left: 10px;
	padding-right: 15px;
	float: left;
	width: 760px;
}

#footer div#leftFooter {
	float: left;
	width: 300px;
}

#footer div#rightFooter {
	float: right;
	width: 400px;
}

#content form input#checkbox {
	margin-top: 15px;
}

