body{background-color:#FFF;color:#000;padding-right:1em;}
#container{width:99%;}
body#online_wellsfargo_com.vudu3 #content{margin-left:0;width:99%;}
#main{width:99%;}
A:link,A:visited,A:hover,A:active{text-decoration:none;color:#000;}
.noprint{display:none;}
#pageIntro,#sidenav,#businessviewselector,#screenheader,#signoff_mm{display:none;}
#mastNav{float:left;width:99%;margin-left:.2em;margin-top:1.2em;line-height:normal;border-bottom:1px solid #9A9A9A;height:1.7em;}
#mastNavOff{float:left;width:99%;margin-left:.2em;margin-top:1.2em;line-height:normal;border-bottom:1px solid #9A9A9A;height:1.7em;}
#printheader{display:block;border-bottom:2px solid #666;}
#businessviewprint{font-weight:bold;display:block;margin:1em 0;}
#sortInfo,#sortInfo1,#sortInfo2{margin-top:1em;}
.ccstatustext,p.alert{color:#000;}
a.ccEmailUs:link,a.ccEmailUs:visited,a.ccEmailUs:active,a.ccEmailUs:hover{color:#000;text-decoration:none;}
table.datatable thead{text-align:center;display:table-header-group;}
table.datatable tfoot{font-weight:bold;}
table.vudu3DataTable tfoot{display:table-row-group;}
table.datatable td.amount{text-align:right;}
table.datatable,table.datatable td,table.datatable th{border:1px solid #ccc;border-spacing:0;padding:2px;border-collapse:collapse;}
#navfooter{display:none;}
#menu,#menu2,#menu3,#previoustoolbar{display:none;}
#coach{display:none;}
#mastLeftCol{width:66px;}
#utilities{float:right;margin-top:6px;margin-right:.2em;color:#b2b299;visibility:hidden;}
#promo,#specialpromo{display:none;}
.screenReaderDelimiter1,.screenReaderDelimiter2,.screenReaderDelimiter3,.screenReaderSprinkle{display:none;}
div.scroll,div.TandC{height:auto;overflow:visible;border:none;}
div#lobdisclosure{text-align:center;margin-bottom:1em;margin-top:5em;margin-left:0;}
div#lobdisclosureLetter{text-align:left;margin-bottom:4em;margin-top:3em;margin-left:170px;}
.c14 ul li{list-style-type:circle;}
#accountviewprint{font-weight:bold;display:block;margin:1em 0;}
table.TransactionTable tfoot{display:table-row-group;}
#tranPostedHeader{display:table-header-group;}
table.TransactionTable th{font-weight:bold;}
.onlyPrint{display:block;}
div.faqContainer div.alwaysPrint{display:block;}
.addDialogUpHere{display:block;}
.printDialog{display:block;}
.deliveryPrefScrollDiv{height:auto;overflow:visible;}
#splashImgSmallRight #splashBodyTxt,#splashLeftHeaderImg #splashBodyTxt{float:right;width:474px;}
#splashImgSmallLeft #splashBodyTxt,#splashRightHeaderImg #splashBodyTxt{float:left;width:474px;}