/* 
========================
  GRIDINATOR CSS v0.4.1
  http://gridinator.com/
  
  GRIDINATOR CSS is a very basic framework to create
  grid-based layouts. The content of this file is 
  provided as-is, without support.
  
  If you would like to contact GRIDINATOR to suggest
  improvements, to ask for help or to file a bug report, 
  please feel free to email: gridinator@steff.me
  
  Your grid settings:
    columns: 16
    column width: 60px
    column margin: 20px
    container margin: 20px
    
=========================
*/
* { /* quick reset */
  margin: 0;  
}

body { 
  font-size: 15px;
  margin: 0;
  padding: 0;
  text-align: center;
}


.wrapper {
  margin: 0 auto; /* This centers the grid. Remove this line to place the grid on the left of the page. */
  text-align: left;
  /*width:100%;*/
  width: 1300px;
  
}

.inner-wrapper {
  background: url("gridinator.png.html") repeat-y 0 0; /* The file gridinator.png is a grid background; delete this line to remove it. If you did not generate a background image, you can still do so by going to http://gridinator.com/ and entering the details found at the top of this CSS file. You will then be given a grid image to match your original grid.  */
  clear: both;
  display: inline;/* IE double margin fix. Feel free to move this to your IE specific stylesheets. */
  float: left;
  padding: 0 20px 0 20px;
  position: relative;
  /*width:100%;*/
  width: 1300px;
  
}


* html .wrapper {
  height: 1%;
  overflow: hidden;
  display: block;
  width:expression(((document.compatMode && document.compatMode=='CSS1Compat') ? document.documentElement.clientWidth : document.body.clientWidth) > 1302 ? "1300px" :  "auto");
}

* html .inner-wrapper { /* Clearing nicely for IE6. */
  width:expression(((document.compatMode && document.compatMode=='CSS1Compat') ? document.documentElement.clientWidth : document.body.clientWidth) > 1262 ? "1260px" :  "auto");
}



.container {
  clear: both;
  float: left;
  margin: 0;
  width: 100%;  
}
.one-col, .two-col, .three-col, .four-col, .five-col, .six-col, .seven-col, .eight-col, .nine-col, .ten-col, .eleven-col, .twelve-col, .thirteen-col, .fourteen-col, .fifteen-col, .sixteen-col {
  color: #000;
  clear: none;
  display: inline;
  float: left;
  margin-bottom: 10px;
  margin-right:1.58731%;
  overflow:hidden;
  padding: 0;
  position: relative;
}
 .one-col {
  width: 4.7619%;
}
.two-col {
  width: 11.11111%;
}
.three-col {
  width: 17.46031%;
}
.four-col {
  width: 23.80952%;
}
.five-col {
  width: 30.15873%;
}
.six-col {
  width: 36.50793%;
}
.seven-col {
  width: 42.85714%;
}
.eight-col {
  width: 49.20634%;
}
.nine-col {
  width: 55.55555%;
}
.ten-col {
  width: 61.90476%;
}
.eleven-col {
  width: 68.25396%;
}
.twelve-col {
  width: 74.60317%;
}
.thirteen-col {
  width: 80.95238%;
}
.fourteen-col {
  width: 87.30158%;
}
.fifteen-col {
  width: 93.65079%;
}
.sixteen-col {
  width: 100%;
  margin-right: 0;
}
 .sixteen-col .one-col {
  width: 4.7619%;
  margin-right: 1.5873%;
}
.sixteen-col .two-col {
  width: 11.11111%;
  margin-right: 1.5873%;
}
.sixteen-col .three-col {
  width: 17.46031%;
  margin-right: 1.5873%;
}
.sixteen-col .four-col {
  width: 23.80952%;
  margin-right: 1.5873%;
}
.sixteen-col .five-col {
  width: 30.15873%;
  margin-right: 1.5873%;
}
.sixteen-col .six-col {
  width: 36.50793%;
  margin-right: 1.5873%;
}
.sixteen-col .seven-col {
  width: 42.85714%;
  margin-right: 1.5873%;
}
.sixteen-col .eight-col {
  width: 49.20634%;
  margin-right: 1.5873%;
}
.sixteen-col .nine-col {
  width: 55.55555%;
  margin-right: 1.5873%;
}
.sixteen-col .ten-col {
  width: 61.90476%;
  margin-right: 1.5873%;
}
.sixteen-col .eleven-col {
  width: 68.25396%;
  margin-right: 1.5873%;
}
.sixteen-col .twelve-col {
  width: 74.60317%;
  margin-right: 1.5873%;
}
.sixteen-col .thirteen-col {
  width: 80.95238%;
  margin-right: 1.5873%;
}
.sixteen-col .fourteen-col {
  width: 87.30158%;
  margin-right: 1.5873%;
}
.sixteen-col .fifteen-col {
  width: 93.65079%;
  margin-right: 1.5873%;
}
.sixteen-col .sixteen-col {
  width: 100%;
  margin-right: 0;
}
.fifteen-col .one-col {
  width: 5.08474%;
  margin-right: 1.69491%;
}
.fifteen-col .two-col {
  width: 11.8644%;
  margin-right: 1.69491%;
}
.fifteen-col .three-col {
  width: 18.64406%;
  margin-right: 1.69491%;
}
.fifteen-col .four-col {
  width: 25.42372%;
  margin-right: 1.69491%;
}
.fifteen-col .five-col {
  width: 32.20338%;
  margin-right: 1.69491%;
}
.fifteen-col .six-col {
  width: 38.98305%;
  margin-right: 1.69491%;
}
.fifteen-col .seven-col {
  width: 45.76271%;
  margin-right: 1.69491%;
}
.fifteen-col .eight-col {
  width: 52.54237%;
  margin-right: 1.69491%;
}
.fifteen-col .nine-col {
  width: 59.32203%;
  margin-right: 1.69491%;
}
.fifteen-col .ten-col {
  width: 66.10169%;
  margin-right: 1.69491%;
}
.fifteen-col .eleven-col {
  width: 72.88135%;
  margin-right: 1.69491%;
}
.fifteen-col .twelve-col {
  width: 79.66101%;
  margin-right: 1.69491%;
}
.fifteen-col .thirteen-col {
  width: 86.44067%;
  margin-right: 1.69491%;
}
.fifteen-col .fourteen-col {
  width: 93.22033%;
  margin-right: 1.69491%;
}
.fifteen-col .fifteen-col {
  width: 100%;
  margin-right: 0;
}
.fourteen-col .one-col {
  width: 5.45454%;
  margin-right: 1.81818%;
}
.fourteen-col .two-col {
  width: 12.72727%;
  margin-right: 1.81818%;
}
.fourteen-col .three-col {
  width: 20%;
  margin-right: 1.81818%;
}
.fourteen-col .four-col {
  width: 27.27272%;
  margin-right: 1.81818%;
}
.fourteen-col .five-col {
  width: 34.54545%;
  margin-right: 1.81818%;
}
.fourteen-col .six-col {
  width: 41.81818%;
  margin-right: 1.81818%;
}
.fourteen-col .seven-col {
  width: 49.0909%;
  margin-right: 1.81818%;
}
.fourteen-col .eight-col {
  width: 56.36363%;
  margin-right: 1.81818%;
}
.fourteen-col .nine-col {
  width: 63.63636%;
  margin-right: 1.81818%;
}
.fourteen-col .ten-col {
  width: 70.90909%;
  margin-right: 1.81818%;
}
.fourteen-col .eleven-col {
  width: 78.18181%;
  margin-right: 1.81818%;
}
.fourteen-col .twelve-col {
  width: 85.45454%;
  margin-right: 1.81818%;
}
.fourteen-col .thirteen-col {
  width: 92.72727%;
  margin-right: 1.81818%;
}
.fourteen-col .fourteen-col {
  width: 100%;
  margin-right: 0;
}
.thirteen-col .one-col {
  width: 5.88235%;
  margin-right: 1.96078%;
}
.thirteen-col .two-col {
  width: 13.72549%;
  margin-right: 1.96078%;
}
.thirteen-col .three-col {
  width: 21.56862%;
  margin-right: 1.96078%;
}
.thirteen-col .four-col {
  width: 29.41176%;
  margin-right: 1.96078%;
}
.thirteen-col .five-col {
  width: 37.2549%;
  margin-right: 1.96078%;
}
.thirteen-col .six-col {
  width: 45.09803%;
  margin-right: 1.96078%;
}
.thirteen-col .seven-col {
  width: 52.94117%;
  margin-right: 1.96078%;
}
.thirteen-col .eight-col {
  width: 60.78431%;
  margin-right: 1.96078%;
}
.thirteen-col .nine-col {
  width: 68.62745%;
  margin-right: 1.96078%;
}
.thirteen-col .ten-col {
  width: 76.47058%;
  margin-right: 1.96078%;
}
.thirteen-col .eleven-col {
  width: 84.31372%;
  margin-right: 1.96078%;
}
.thirteen-col .twelve-col {
  width: 92.15686%;
  margin-right: 1.96078%;
}
.thirteen-col .thirteen-col {
  width: 100%;
  margin-right: 0;
}
.twelve-col .one-col {
  width: 6.38297%;
  margin-right: 2.12765%;
}
.twelve-col .two-col {
  width: 14.89361%;
  margin-right: 2.12765%;
}
.twelve-col .three-col {
  width: 23.40425%;
  margin-right: 2.12765%;
}
.twelve-col .four-col {
  width: 31.91489%;
  margin-right: 2.12765%;
}
.twelve-col .five-col {
  width: 40.42553%;
  margin-right: 2.12765%;
}
.twelve-col .six-col {
  width: 48.93617%;
  margin-right: 2.12765%;
}
.twelve-col .seven-col {
  width: 57.4468%;
  margin-right: 2.12765%;
}
.twelve-col .eight-col {
  width: 65.95744%;
  margin-right: 2.12765%;
}
.twelve-col .nine-col {
  width: 74.46808%;
  margin-right: 2.12765%;
}
.twelve-col .ten-col {
  width: 82.97872%;
  margin-right: 2.12765%;
}
.twelve-col .eleven-col {
  width: 91.48936%;
  margin-right: 2.12765%;
}
.twelve-col .twelve-col {
  width: 100%;
  margin-right: 0;
}
.eleven-col .one-col {
  width: 6.97674%;
  margin-right: 2.32558%;
}
.eleven-col .two-col {
  width: 16.27906%;
  margin-right: 2.32558%;
}
.eleven-col .three-col {
  width: 25.58139%;
  margin-right: 2.32558%;
}
.eleven-col .four-col {
  width: 34.88372%;
  margin-right: 2.32558%;
}
.eleven-col .five-col {
  width: 44.18604%;
  margin-right: 2.32558%;
}
.eleven-col .six-col {
  width: 53.48837%;
  margin-right: 2.32558%;
}
.eleven-col .seven-col {
  width: 62.79069%;
  margin-right: 2.32558%;
}
.eleven-col .eight-col {
  width: 72.09302%;
  margin-right: 2.32558%;
}
.eleven-col .nine-col {
  width: 81.39534%;
  margin-right: 2.32558%;
}
.eleven-col .ten-col {
  width: 90.69767%;
  margin-right: 2.32558%;
}
.eleven-col .eleven-col {
  width: 100%;
  margin-right: 0;
}
.ten-col .one-col {
  width: 7.6923%;
  margin-right: 2.5641%;
}
.ten-col .two-col {
  width: 17.94871%;
  margin-right: 2.5641%;
}
.ten-col .three-col {
  width: 28.20512%;
  margin-right: 2.5641%;
}
.ten-col .four-col {
  width: 38.46153%;
  margin-right: 2.5641%;
}
.ten-col .five-col {
  width: 48.71794%;
  margin-right: 2.5641%;
}
.ten-col .six-col {
  width: 58.97435%;
  margin-right: 2.5641%;
}
.ten-col .seven-col {
  width: 69.23076%;
  margin-right: 2.5641%;
}
.ten-col .eight-col {
  width: 79.48717%;
  margin-right: 2.5641%;
}
.ten-col .nine-col {
  width: 89.74358%;
  margin-right: 2.5641%;
}
.ten-col .ten-col {
  width: 100%;
  margin-right: 0;
}
.nine-col .one-col {
  width: 8.57142%;
  margin-right: 2.85714%;
}
.nine-col .two-col {
  width: 20%;
  margin-right: 2.85714%;
}
.nine-col .three-col {
  width: 31.42857%;
  margin-right: 2.85714%;
}
.nine-col .four-col {
  width: 42.85714%;
  margin-right: 2.85714%;
}
.nine-col .five-col {
  width: 54.28571%;
  margin-right: 2.85714%;
}
.nine-col .six-col {
  width: 65.71428%;
  margin-right: 2.85714%;
}
.nine-col .seven-col {
  width: 77.14285%;
  margin-right: 2.85714%;
}
.nine-col .eight-col {
  width: 88.57142%;
  margin-right: 2.85714%;
}
.nine-col .nine-col {
  width: 100%;
  margin-right: 0;
}
.eight-col .one-col {
  width: 9.67741%;
  margin-right: 3.2258%;
}
.eight-col .two-col {
  width: 22.58064%;
  margin-right: 3.2258%;
}
.eight-col .three-col {
  width: 35.48387%;
  margin-right: 3.2258%;
}
.eight-col .four-col {
  width: 48.38709%;
  margin-right: 3.2258%;
}
.eight-col .five-col {
  width: 61.29032%;
  margin-right: 3.2258%;
}
.eight-col .six-col {
  width: 74.19354%;
  margin-right: 3.2258%;
}
.eight-col .seven-col {
  width: 87.09677%;
  margin-right: 3.2258%;
}
.eight-col .eight-col {
  width: 100%;
  margin-right: 0;
}
.seven-col .one-col {
  width: 11.11111%;
  margin-right: 3.7037%;
}
.seven-col .two-col {
  width: 25.92592%;
  margin-right: 3.7037%;
}
.seven-col .three-col {
  width: 40.74074%;
  margin-right: 3.7037%;
}
.seven-col .four-col {
  width: 55.55555%;
  margin-right: 3.7037%;
}
.seven-col .five-col {
  width: 70.37037%;
  margin-right: 3.7037%;
}
.seven-col .six-col {
  width: 85.18518%;
  margin-right: 3.7037%;
}
.seven-col .seven-col {
  width: 100%;
  margin-right: 0;
}
.six-col .one-col {
  width: 13.04347%;
  margin-right: 4.34782%;
}
.six-col .two-col {
  width: 30.43478%;
  margin-right: 4.34782%;
}
.six-col .three-col {
  width: 47.82608%;
  margin-right: 4.34782%;
}
.six-col .four-col {
  width: 65.21739%;
  margin-right: 4.34782%;
}
.six-col .five-col {
  width: 82.60869%;
  margin-right: 4.34782%;
}
.six-col .six-col {
  width: 100%;
  margin-right: 0;
}
.five-col .one-col {
  width: 15.78947%;
  margin-right: 5.26315%;
}
.five-col .two-col {
  width: 36.8421%;
  margin-right: 5.26315%;
}
.five-col .three-col {
  width: 57.89473%;
  margin-right: 5.26315%;
}
.five-col .four-col {
  width: 78.94736%;
  margin-right: 5.26315%;
}
.five-col .five-col {
  width: 100%;
  margin-right: 0;
}
.four-col .one-col {
  width: 20%;
  margin-right: 6.66666%;
}
.four-col .two-col {
  width: 46.66666%;
  margin-right: 6.66666%;
}
.four-col .three-col {
  width: 73.33333%;
  margin-right: 6.66666%;
}
.four-col .four-col {
  width: 100%;
  margin-right: 0;
}
.three-col .one-col {
  width: 27.27272%;
  margin-right: 9.0909%;
}
.three-col .two-col {
  width: 63.63636%;
  margin-right: 9.0909%;
}
.three-col .three-col {
  width: 100%;
  margin-right: 0;
}
.two-col .one-col {
  width: 42.85714%;
  margin-right: 14.28571%;
}
.two-col .two-col {
  width: 100%;
  margin-right: 0;
}
.one-col .one-col {
  width: 100%;
  margin-right: 0;
}
 .sixteen-col .last-col {
  margin-right: 0;
}
.fifteen-col .last-col {
  margin-right: 0;
}
.fourteen-col .last-col {
  margin-right: 0;
}
.thirteen-col .last-col {
  margin-right: 0;
}
.twelve-col .last-col {
  margin-right: 0;
}
.eleven-col .last-col {
  margin-right: 0;
}
.ten-col .last-col {
  margin-right: 0;
}
.nine-col .last-col {
  margin-right: 0;
}
.eight-col .last-col {
  margin-right: 0;
}
.seven-col .last-col {
  margin-right: 0;
}
.six-col .last-col {
  margin-right: 0;
}
.five-col .last-col {
  margin-right: 0;
}
.four-col .last-col {
  margin-right: 0;
}
.three-col .last-col {
  margin-right: 0;
}
.two-col .last-col {
  margin-right: 0;
}
.one-col .last-col {
  margin-right: 0;
}
.clear { /* Useful generic clearing class. */
  clear: both;
}
.last-col {
  margin-right: 0;
}