body{margin:0px;font-family: Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
.pt15{padding-top:15px;}a{ color:#007ACF;}
.addons1{color:#007ACF;font-family:Arial,Helvetica,sans-serif;font-size:12px;font-weight:normal;text-decoration:none;}
.addons1:hover{color:#FF6600;}
.toll_free {font-size: 12px;	color: #5b5b5b;}
.contact{ width:950px; text-align:left; font:bold 21px/33px Arial, Helvetica, sans-serif; color:#274273; border-bottom:3px solid #0071ba;}
.subtitle{ font-size:15px; font-weight:bold;}
.f16{ font-size:16px;}
.yellowbox{ background-color:#fffef0; border:1px solid #d5d5d5;}
.gtxt{ color:#666666;}.pl25{ padding-left:25px;}.f11{ font-size:11px; line-height:18px;}
.tablegraybg{ background:#ffffff url(../images/tablegraybg.gif) repeat-x; margin-top:25px;}
.zohosupportBg{ background:transparent url(../images/zoho-support.gif) no-repeat;padding:30px 25px 25px 100px;}
.zsp{ font: bold 16px/24px Georgia, "Times New Roman", Times, serif; margin:0px;}
p{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; line-height:20px;}
.newarrow{ margin:15px 0px 15px 30px; list-style:none; padding-left:0px;}
.newarrow li { background:transparent url(../images/support-arrow.gif) no-repeat 0px 10px; padding:5px 20px;}
.suppblueBg{ background:transparent url(../images/blueBg.gif) repeat-x 0px 0px; padding-left:10px;}
.helplink{ font:bold 13px Arial, Helvetica, sans-serif; color:#0000cc; cursor:pointer; text-decoration:none;}
#helpDiv{ padding:20px;margin:15px 0px;}


.newPopUpOuterDiv{ border:1px solid #415e7b; position:absolute;}
.newPopUpBlueBorder{ border:8px solid #c1d9ff; background-color:#fff;}
.newPopUpHeader{ background-color:#e0edfe;}
.pL25{padding-left:25px;}



.contentDiv{ float:left;margin-bottom:-1px;position:relative;}
.tablist{background:url(../images/tab.gif) no-repeat 0 0;height:40px;width:210px; float:left;cursor:pointer;}
.tablistactive{background:url(../images/tab.gif) no-repeat 0 -41px ;height:40px;width:210px;float:left; }
.tabhead{margin:9px 10px; font-size:15px; text-align:center}
.tabhead img{ vertical-align:middle;}
.tabhead strong{ margin:2px 0 0 4px}