.logindiv{
	position:absolute;
	z-index:100;
	height:297px;
	width:286px;
	border:solid 2px #018AD2;
	background:#fff;
	top:35px;
	right:160px;
	padding:5px;
	display:none;
	}
.disable{
	position:absolute;
	display:none;
	background:#FFF;
	opacity:0;
	filter:alpha(Opacity=50);
	}

